body{
    font-family: 'Times New Roman', serif;
    background-image: url(Background/BlackHole.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-attachment: fixed;
  }
  h1{
    text-align: center;
    color: green;
    font-style: italic;
  }
  h2{
    text-align: center;
    color: blue;
    font-weight: bold;
  }
  h3{
    color: white green;
    font-style: italic;
  }
  a:link{
    color: magenta;
  }
  a:hover{
    color: red;
  }
  a:active{
    color: orange;
  }
  a:visited{
    color: yellow;
  }
  #copyright{
    text-align: center;
    color: cyan;
  }